[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "thirdparty/matplotplusplus"]
	path = thirdparty/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
